@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --primary-color: #e5e5e5;
    --seconday-color: #70706f;
    --gray: #b3b3ab;

    --blue: #2e3e97;
    --lightblue: #488fc1;
    --red: #c16d55;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;

    overflow: hidden;
}

h1,
h2,
h3,
span,
a,
p {
    text-decoration: none;
    color: black;
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}

h2 {
    text-decoration: none;
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
}

/* ---------------------- nav ---------------------- */

nav {
    display: flex;

}

.nav-section {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#nav-section-logo {
    width: calc(20%);
    display: flex;
    align-items: center;
}

#nav-section-logo>a {
    margin-left: 30px;
    font-size: 2rem;
}

#nav-section-menu {
    width: calc(60%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-section-social {
    width: calc(20%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    border-left: 2px solid;
}

/* ---------------------- nav ---------------------- */

/* ---------------------- main ---------------------- */
main {
    display: flex;
    flex-direction: column;
}

.section-main {
    width: 100%;
    height: 85vh;
    animation: 2s pulse;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.A-section {
    margin: 30px;

}

.B-section {
    margin: 30px;
    margin-left: 0px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bubble-wrapper {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 0;
    border: 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0 1px 0px 0px black;

}

.bubble-wrapper:hover { 
    animation: 2s shadow;
}

@keyframes shadow {
    50% {
        box-shadow: none;
        transform: translateY(3px);
    }
    50% {
        box-shadow: none;
        transform: translateY(3px);
    }

}


@keyframes pulse {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    50% {
        
        opacity: 0.4;
    }
}

.bubble {
    height: 20px;
    border-radius: 10px;
}

#bubble1 {
    width: 20px;
    background-color: #c16d55;
}

#bubble2 {
    width: 20px;
    background-color: #649c1f;
}

#bubble3 {
    width: 80px;
    background-color: #3275b8;
}

#bubble4 {
    width: 20px;
    background-color: #b1b832;
}




/* ---------------------- main ---------------------- */

/* ---------------------- contact ---------------------- */

#section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container>h2 {
    font-weight: 500;
}

.form-input {
    display: flex;
    margin: 10px;
}

#inputs {
    width: 50vw;
    height: 50px;

    outline: 0;
    border: 0;

    color: var(--seconday-color);
    background-color: var(--primary-color);
    border-bottom: 2px solid black;

    transition: 0.3s ease-in;

}

#inputs::-webkit-input-placeholder {
    font-family: 'Space Mono', monospace;
}


.form-input>textarea {
    width: 50vw;
    height: 30vh;

    background-color: var(--primary-color);
    color: var(--seconday-color);
    font-family: 'Space Mono', monospace;

    outline: 0;
    border: 0;

    border-bottom: 2px solid black;

    transition: 0.3s ease-in;


}

#submit {

    background-color: var(--primary-color);
    
    height: 40px;
    width: 80px;
    margin: 10px;
    margin-left: 0;
    border: 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0 1px 0px  black;
}

#submit:hover { 
    animation: 2s shadow;
}

/* ---------------------- contact ---------------------- */

/* ---------------------- about ---------------------- */