@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-black: #000000;
    --color-blue: #14213d;
    --color-yellow: #fca311;
    --color-gray: #e5e5e5;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-blue);
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1,
h2,
h3,
span,
a,
p {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    display: flex;
}

.nav-section {
    border: 0.5px solid var(--color-white);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 1rem 3rem;
}

.nav-section>a {
    color: var(--color-white);
}

#nav-logo-section {
    width: calc(100%/3);
    justify-content: flex-start;
    font-size: 3rem;
}
#nav-logo-section > a {
    color: var(--color-yellow);
}

#nav-menu-section {
    width: calc(100%/3);
}

#nav-social-section {
    width: calc(100%/6);
}

#nav-contact-section {
    width: calc(100%/6);
}

main {
   flex-grow: 1;
}

.article01 {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.article-section {
    border: 0.5px solid var(--color-white);
}

#section02 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container02 {
    background-color: #fca311;
}

